RewriteEngine On

# Se l'utente accede alla cartella /shopping/ (senza specificare un file)
# servi index.php invece di index.html.
# index.php farà il controllo del login e poi servirà index.html.
DirectoryIndex index.php index.html

# Se la richiesta non è un file o una directory reale, servi index.php
# Questo permette ad Angular di gestire le proprie rotte mantenendo la protezione del login.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
