RewriteEngine On
RewriteBase /umbertini/

# Impedisci l'esplorazione delle directory
Options -Indexes

# Default file for the directory
DirectoryIndex index.html index.php

# Se la richiesta e' per l'API (e la cartella esiste o il file esiste), lasciala passare
RewriteCond %{REQUEST_URI} ^/umbertini/api/ [NC]
RewriteRule ^ - [L]

# Per qualsiasi altra richiesta che non e' un file o una directory reale,
# rimanda a index.html per gestire il routing Angular lato client.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
